/* Global Styles */
* {
    text-decoration: none;
    font-family: Nunito Sans;
}

header {
    background-color: hsl(0, 0%, 100%);
}

/* Styles for Countries */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    
}

.country {
    margin: 25px;
    color:  hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 5px hsl(0, 0%, 52%);
    border-radius: 5px;
}

b {
    margin-left: 25px;
}

.country-info-home {
    font-weight: 600;
}

/* Styles for Country Info */
body {
    background-color: hsl(0, 0%, 98%);
}

.info {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
