/* Light Mode */
* {
    text-decoration: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.country {
    margin: 25px;
    border: 1px black solid;
    border-radius: 5px;
    color:  hsl(200, 15%, 8%);
}
